body {
	font-size: 16px;
	font-family: gill sans;
	background: #000;
	color: #fff;
}

h1,
h2,
h3 {
	font-family: gill sans;
	color: #F21B8A;
}

img {
	border: 4px solid white
}

h1 { 
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
	color: #F21B8A
}

header {
	float: left;
	padding: 50px 50px;
}

a:link {
	color: yellow
}

a:hover { 
	color: rgb(2, 66, 177);
}

section {
	width:500px;
	margin: 50px auto;
	background-color: #6A6A6A;
	border:2px solid;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
	padding: 50px 
}

nav ul {
	padding-left: 0;
	display: inline;
}

nav ul li {
	font-size: 18px;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 2px solid #fff;
	margin: 0;
}

nav ul li:last-child {
	border: none;
}

.boxed {
	border: 2px solid;
	color: #F21B8A;
}

table {
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-collapse: collapse;
	margin: auto;
}

table tr, table td {
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	padding: 4px 8px;
}

footer nav ul
